.flows.json.backup
[
    {
        "id": "fbc7fe71e9da92df",
        "type": "tab",
        "label": "Raw Mill 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6067a2d8141b6225",
        "type": "tab",
        "label": "Raw Mill 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8fba20fe3c7a5b1f",
        "type": "tab",
        "label": "Kiln",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "486a780d98a6d614",
        "type": "tab",
        "label": "Finish Mill 10",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "491911e96b64cd26",
        "type": "tab",
        "label": "Finish Mill 11",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6ed74151d0417356",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "navigationStyle": "default"
    },
    {
        "id": "7a3b08ce39972f98",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "25dcac802de8c675",
        "type": "ui-page",
        "name": "Page N",
        "ui": "6ed74151d0417356",
        "path": "/pageN",
        "icon": "home",
        "layout": "grid",
        "theme": "7a3b08ce39972f98",
        "order": -1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "903993860ac9bebc",
        "type": "ui-group",
        "name": "My Group",
        "page": "25dcac802de8c675",
        "width": 6,
        "height": 1,
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "6df472a743c0623a",
        "type": "OpcUa-Client",
        "z": "fbc7fe71e9da92df",
        "endpoint": "",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "name": "",
        "x": 340,
        "y": 100,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "847899befdb7d549",
        "type": "inject",
        "z": "fbc7fe71e9da92df",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "6df472a743c0623a"
            ]
        ]
    },
    {
        "id": "c2a9053ab8596a11",
        "type": "ui-table",
        "z": "8fba20fe3c7a5b1f",
        "group": "903993860ac9bebc",
        "name": "",
        "label": "text",
        "order": 0,
        "width": 0,
        "height": 0,
        "maxrows": 0,
        "passthru": false,
        "autocols": true,
        "selectionType": "none",
        "columns": null,
        "x": 810,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "8fcd8a10ae91c213",
        "type": "postgresql",
        "z": "8fba20fe3c7a5b1f",
        "name": "",
        "query": "SELECT * FROM ;",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1110,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "8763eb2281a86083",
        "type": "state-machine",
        "z": "8fba20fe3c7a5b1f",
        "name": "",
        "triggerProperty": "topic",
        "triggerPropertyType": "msg",
        "stateProperty": "topic",
        "statePropertyType": "msg",
        "outputStateChangeOnly": false,
        "throwException": false,
        "states": [
            "start",
            "",
            "",
            ""
        ],
        "transitions": [
            {
                "name": "",
                "from": "",
                "to": ""
            },
            {
                "name": "",
                "from": "",
                "to": ""
            },
            {
                "name": "",
                "from": "",
                "to": ""
            }
        ],
        "x": 640,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "66dfc14b12961254",
        "type": "OpcUa-Client",
        "z": "491911e96b64cd26",
        "endpoint": "",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "name": "",
        "x": 120,
        "y": 100,
        "wires": [
            [],
            []
        ]
    }
]