flows.json
[
    {
        "id": "a3fc98f005fbb17c",
        "type": "tab",
        "label": "OPC Connectivity",
        "disabled": false,
        "info": "This tab establishes connectivity with the OPC server(s)",
        "env": []
    },
    {
        "id": "4c5d465447dabe08",
        "type": "tab",
        "label": "Kiln",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7a1c78c10cc94f14",
        "type": "tab",
        "label": "FM10",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f017d68592862539",
        "type": "tab",
        "label": "FM11",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "60ccb6176681d4ee",
        "type": "OpcUa-Endpoint",
        "endpoint": "\\\\WINBOX1:Matrikon.OPC.Simulation.1",
        "secpol": "PubSub_Aes128_CTR",
        "secmode": "None",
        "none": false,
        "login": true,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "85f80f334116bcb0",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://opcuaserver.com:48010",
        "secpol": "None",
        "secmode": "None",
        "none": true,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "d162885f5409ab52",
        "type": "OpcUa-Discovery",
        "z": "a3fc98f005fbb17c",
        "name": "Discover OPC Servers",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "d2caae920e78cda9"
            ]
        ]
    },
    {
        "id": "d2caae920e78cda9",
        "type": "debug",
        "z": "a3fc98f005fbb17c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 80,
        "wires": []
    },
    {
        "id": "108a619e05f113be",
        "type": "OpcUa-Item",
        "z": "4c5d465447dabe08",
        "item": "PyroProcess.Kiln_Feed_Rate",
        "datatype": "Int64",
        "value": "",
        "name": "PyroProcess.Kiln_Feed_Rate",
        "x": 450,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "db287430f437bd47",
        "type": "comment",
        "z": "4c5d465447dabe08",
        "name": "Start / Stop Events",
        "info": "",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "19cb2dead81c6658",
        "type": "debug",
        "z": "4c5d465447dabe08",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 200,
        "wires": []
    },
    {
        "id": "f7086ce2a820f4e1",
        "type": "inject",
        "z": "4c5d465447dabe08",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "108a619e05f113be",
                "8d1a13fe578d2b9b",
                "53618f754e8a3eb5"
            ]
        ]
    },
    {
        "id": "8d1a13fe578d2b9b",
        "type": "OpcUa-Browser",
        "z": "4c5d465447dabe08",
        "endpoint": "85f80f334116bcb0",
        "item": "",
        "datatype": "",
        "topic": "Root",
        "items": [],
        "name": "opcuaserver.com",
        "x": 410,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "53618f754e8a3eb5",
        "type": "OpcUa-Client",
        "z": "4c5d465447dabe08",
        "endpoint": "60ccb6176681d4ee",
        "action": "info",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": true,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "name": "",
        "x": 400,
        "y": 220,
        "wires": [
            [
                "19cb2dead81c6658"
            ],
            []
        ]
    },
    {
        "id": "25b063de7cf4b259",
        "type": "OpcUa-Client",
        "z": "4c5d465447dabe08",
        "endpoint": "",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "useTransport": false,
        "maxChunkCount": 1,
        "maxMessageSize": 8192,
        "receiveBufferSize": 8192,
        "sendBufferSize": 8192,
        "name": "",
        "x": 340,
        "y": 480,
        "wires": [
            [],
            []
        ]
    }
]