flows.json
[
    {
        "id": "a3fc98f005fbb17c",
        "type": "tab",
        "label": "OPC Connectivity",
        "disabled": false,
        "info": "This tab establishes connectivity with the OPC server(s)",
        "env": []
    },
    {
        "id": "4c5d465447dabe08",
        "type": "tab",
        "label": "Kiln",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7a1c78c10cc94f14",
        "type": "tab",
        "label": "FM10",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f017d68592862539",
        "type": "tab",
        "label": "FM11",
        "disabled": false,
        "info": "https://flowfuse.com/blog/2023/07/how-to-build-a-opc-client-dashboard-in-node-red/\r\n",
        "env": []
    },
    {
        "id": "8fba20fe3c7a5b1f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "60ccb6176681d4ee",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://WINBOX1:4841/Matrikon.OPC.Simulation.1/",
        "secpol": "None",
        "secmode": "None",
        "none": false,
        "login": true,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "85f80f334116bcb0",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://opcuaserver.com:48010",
        "secpol": "None",
        "secmode": "None",
        "none": true,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "2e06b2c80cb9ead0",
        "type": "opc-da server",
        "address": "192.168.1.125",
        "domain": "markham.lan",
        "progid": "F8582CF2-88FB-11D0-B850-00C0F0104305",
        "clsid": "F8582CF2-88FB-11D0-B850-00C0F0104305",
        "verbose": "on",
        "name": "Matrikon OPC Simulation",
        "vartable": [],
        "timeout": "5000"
    },
    {
        "id": "0f2e298473180940",
        "type": "opc-da group",
        "server": "2e06b2c80cb9ead0",
        "updaterate": "1000",
        "deadband": "0",
        "active": true,
        "validate": true,
        "vartable": [],
        "name": "MatrikonSimulator"
    },
    {
        "id": "53f4394dbf12c6b7",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://192.168.0.141:53530/OPCUA/SimulationServer",
        "secpol": "None",
        "secmode": "None",
        "none": true,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "4340b56a2335c304",
        "type": "ui_group",
        "name": "Address Space Structure",
        "tab": "0113eb87060106be",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0113eb87060106be",
        "type": "ui_tab",
        "name": "OPC UA",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bf75c424082f0475",
        "type": "ui_group",
        "name": "Simulation Values",
        "tab": "0113eb87060106be",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8d5776a092fd9736",
        "type": "ui_tab",
        "name": "OPC UA",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "664a782c4eacbafa",
        "type": "ui_group",
        "name": "StaticData Values",
        "tab": "0113eb87060106be",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eaaa1e5bd3b018d8",
        "type": "ui_group",
        "name": "MyDevice Status & Control",
        "tab": "0113eb87060106be",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "db287430f437bd47",
        "type": "comment",
        "z": "4c5d465447dabe08",
        "name": "Start / Stop Events",
        "info": "",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "19cb2dead81c6658",
        "type": "debug",
        "z": "4c5d465447dabe08",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 180,
        "wires": []
    },
    {
        "id": "f7086ce2a820f4e1",
        "type": "inject",
        "z": "4c5d465447dabe08",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "d07d04ab6deacc4b",
        "type": "opc-da in",
        "z": "4c5d465447dabe08",
        "group": "0f2e298473180940",
        "mode": "all",
        "diff": true,
        "name": "",
        "item": "",
        "x": 410,
        "y": 220,
        "wires": [
            [
                "19cb2dead81c6658"
            ]
        ]
    },
    {
        "id": "20e5ee8a6b3e5f88",
        "type": "inject",
        "z": "8fba20fe3c7a5b1f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 60,
        "wires": [
            [
                "f276341675a37438"
            ]
        ]
    },
    {
        "id": "f276341675a37438",
        "type": "debug",
        "z": "8fba20fe3c7a5b1f",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 60,
        "wires": []
    }
]