flows.json
[
    {
        "id": "4c5d465447dabe08",
        "type": "tab",
        "label": "Kiln",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "932d70964443b381",
        "type": "credentials",
        "z": "4c5d465447dabe08",
        "name": "",
        "props": [],
        "x": 810,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "dbac5909cb995f89",
        "type": "inject",
        "z": "4c5d465447dabe08",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 760,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "ad3ac7606901a9ed",
        "type": "totaliser",
        "z": "4c5d465447dabe08",
        "output": "sum",
        "interval": "24",
        "intervalUnits": "hours",
        "name": "",
        "x": 520,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "28e97e94633f7b11",
        "type": "postgresql",
        "z": "4c5d465447dabe08",
        "name": "",
        "query": "SELECT * FROM ;",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1170,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "108a619e05f113be",
        "type": "OpcUa-Item",
        "z": "4c5d465447dabe08",
        "item": "",
        "datatype": "UInt8",
        "value": "",
        "name": "Kiln Motor Power",
        "x": 130,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "5c1148c0892e72f1",
        "type": "state-machine",
        "z": "4c5d465447dabe08",
        "name": "Kiln Status",
        "triggerProperty": "topic",
        "triggerPropertyType": "msg",
        "stateProperty": "topic",
        "statePropertyType": "msg",
        "outputStateChangeOnly": true,
        "throwException": true,
        "states": [
            "Stopped",
            "Running"
        ],
        "transitions": [
            {
                "name": "Stop",
                "from": "Running",
                "to": "Stopped"
            },
            {
                "name": "Start",
                "from": "Stopped",
                "to": "Running"
            }
        ],
        "x": 570,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "47f89d36bb797d63",
        "type": "OpcUa-Item",
        "z": "4c5d465447dabe08",
        "item": "",
        "datatype": "",
        "value": "",
        "name": "Coal Feedrate",
        "x": 340,
        "y": 380,
        "wires": [
            [
                "ad3ac7606901a9ed"
            ]
        ]
    },
    {
        "id": "7620775e6bee7b75",
        "type": "OpcUa-Item",
        "z": "4c5d465447dabe08",
        "item": "",
        "datatype": "",
        "value": "",
        "name": "Natural Gas Feedrate",
        "x": 320,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "e4b4acb0ad65a0cf",
        "type": "OpcUa-Item",
        "z": "4c5d465447dabe08",
        "item": "",
        "datatype": "",
        "value": "",
        "name": "Alt Fuels Feedrate",
        "x": 330,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "d5cfe50d8cea1e4c",
        "type": "moving-average",
        "z": "4c5d465447dabe08",
        "name": "",
        "amount": 10,
        "weight": "cumulative",
        "x": 500,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "61835cf889eef3e6",
        "type": "inject",
        "z": "4c5d465447dabe08",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Start",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 40,
        "wires": [
            [
                "5c1148c0892e72f1"
            ]
        ]
    },
    {
        "id": "f6455ed1747061a4",
        "type": "rbe",
        "z": "4c5d465447dabe08",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 390,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "378034429b327d0a",
        "type": "inject",
        "z": "4c5d465447dabe08",
        "name": "Stop",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Stop",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 100,
        "wires": [
            [
                "5c1148c0892e72f1"
            ]
        ]
    },
    {
        "id": "8e7c747001f9adf5",
        "type": "trigger",
        "z": "4c5d465447dabe08",
        "name": "Listen",
        "op1": "Start",
        "op2": "Stop",
        "op1type": "str",
        "op2type": "str",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 270,
        "y": 180,
        "wires": [
            [
                "5c1148c0892e72f1"
            ]
        ]
    },
    {
        "id": "36a1896fe7d65718",
        "type": "inject",
        "z": "4c5d465447dabe08",
        "name": "Signal",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "KilnMotorPower",
        "payload": "50",
        "payloadType": "num",
        "x": 90,
        "y": 220,
        "wires": [
            [
                "8e7c747001f9adf5"
            ]
        ]
    }
]